.header
    max-width: 1160px
    display: flex
    justify-content: center
    align-items: center
    height: 70px
    &__link
        padding: 5px 20px
        font-size: 20px
        text-decoration: none
        color: #fff

    &__link_xl
        font-size: 20px
        text-decoration: none
        color: #fff

    &__link_mob
        display: none
